<form action="/admin/categorias/nova" method="post">
    <label for="nome">Nome: </label>
    <input type="text">
    <input type="text" name="nome" id="nome" placeholder="Nome da Categoria">
    <label for="slug">Slug: </label>
    <input type="text" name="slug" id="slug" placeholder="Slug da categoria">
    <button type="submit" class="btn btn-success">Criar categoria</button>
</form>
